*{box-sizing: border-box;
}


header{text-align: center; 
 background-color: #6b6b77; }


#leftcolumn{background-color: #6b6b77; width: 30%;
      padding:30px;}


body{ background-color: #ffffff;
     font-family: Verdana, Geneva, Tahoma, sans-serif; 
  display: flex; flex-direction: column; min-height: 100vh;
}
 
#screen{
    display: flex; flex: 1;
}
   
#middlecolumn{background-color:#ffffff;  width: 70%;
padding: 30px; padding-top: 5%; margin: 0; line-height: 2;

}


.navBar {color: #ffffff; display: block; width: 100%; 
    padding: 1pt 76px; line-height: normal; background-color:#2a1d41;}
  

ul{padding-left: 20px; line-height: 1.5;}    

li{margin-bottom: 6px;}


footer{border-top: 2px double #000000;
border-bottom: 2px double #000000; margin-top: auto; text-align: center;}
