

*{box-sizing: border-box;}

header{text-align: center; }


#leftcolumn{background-color: #6b6b77; width: 30%;
      padding:30px;}


body{ background-color: #ffffff;
     font-family: Verdana, Geneva, Tahoma, sans-serif; margin: 0; 
  display: flex; min-height: 100vh;
}
 
   
#middlecolumn{background-color:#ffffff;  width: 70%;
padding: 40px; padding-top: 10%;
}


.navBar {color: #ffffff; text-decoration:none; display: inline-block;
    padding: 1pt 76px; line-height: 0; background-color:#1a0c33;  margin: auto;}


h2 {border-bottom: 2px solid #ddd; padding-bottom: 5px; margin-top: 30px; 
}

p {line-height: 1.5;}

ul{padding-left: 20px;}
li{margin-bottom: 6px;}
#leftcolumn h2, #middlecolumn h2{margin-top: 25px;}